@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

header {
    top: 0;
    border-bottom: 5px solid #ffeb3b; /* Borda amarela no cabeçalho */
}

header, footer {
    background-color: #add8e6;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    border-color: #ffeb3b;
}

body {
    background-color: #ffffff;
    color: #dda0dd;
    font-family: 'Annie Use Your Telescope', serif;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    position: relative;
}

h1 {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 150px;
    margin-bottom: 100px;
}

.content {
    text-align: left;
    position: relative;
    z-index: 1;
}

label {
    display: block;
    margin: 20px 0 10px;
    color: #000000;
    font-size: 28px;
}

.input-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

input[type="number"], button {
    padding: 10px;
    border: 2px solid #ffeb3b;
    border-radius: 10px;
    width: 200px;
    background-color: #fffacd;
    color: #000000;
    font-family: 'Annie Use Your Telescope', serif;
    font-size: 24px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

button {
    background-color: #add8e6; 
    color: #ffffff; 
    text-shadow: 1px 1px 2px #000000; 
}

button + button {
    margin-top: 5px;
}

button:hover {
    background-color: #ffeb3b;
}

p#resultado {
    margin-top: 40px;
    font-size: 22px;
    color: #000000;
}

.mamadeira {
    width: 240px;
    height: 270px;
    position: absolute;
    z-index: -1;
    left: 180px;
    top: 70px;
}

footer {
    bottom: 0;
    border-top: 5px solid #ffeb3b; /* Borda amarela no rodapé */
}