@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

body {
    background-color: #ffffff; /* Branco */
    color: #dda0dd; /* Roxo claro */
    font-family: 'Annie Use Your Telescope', serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    position: relative;
}

header, footer {
    background-color: #dda0dd; /* Roxo claro */
    color: #ffffff; /* Branco */
    text-shadow: 1px 1px 2px #000000; /* Contorno preto */
    padding: 10px;
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

.container {
    display: flex;
    align-items: center; /* Alinhar ao centro */
    justify-content: center; /* Centralizar horizontalmente */
    flex-direction: column; /* Colocar elementos em coluna */
    position: relative;
    margin-top: 150px; /* Aumentar o espaço para o cabeçalho fixo */
    margin-bottom: 100px; /* Espaço para o rodapé fixo */
}

.mamadeira {
    width: 270px; /* Diminuir o tamanho da imagem */
    height: 270px; /* Diminuir o tamanho da imagem */
    position: absolute;
    z-index: -1; /* Colocar a imagem atrás dos componentes */
    opacity: 0.5; /* Tornar a imagem semi-transparente */
    left: 160px; /* Ajustar a posição para a direita */
    top: 50px;
}

.content {
    text-align: left; /* Alinhar o texto à esquerda */
    position: relative;
    z-index: 1; /* Garantir que o conteúdo fique acima da imagem */
}

h1 {
    color: #ffffff; /* Branco */
    text-shadow: 1px 1px 2px #000000; /* Contorno preto */
}

label {
    display: block;
    margin: 20px 0 10px;
    color: #000000; /* Preto */
    font-size: 24px; /* Aumentar o tamanho do texto */
}

.input-button-container {
    display: flex;
    flex-direction: column; /* Colocar elementos em coluna */
    align-items: flex-start; /* Alinhar ao lado esquerdo */
    gap: 10px; /* Espaço entre o input e o botão */
}

input[type="number"], button {
    padding: 10px;
    border: 2px solid #ffeb3b; /* Borda amarela */
    border-radius: 10px;
    width: 200px;
    background-color: #fffacd; /* Amarelo bem claro, tipo creme */
    color: #000000; /* Preto */
    font-family: 'Annie Use Your Telescope', serif; /* Fonte Annie Use Your Telescope */
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombreamento */
    white-space: nowrap; /* Impede quebra de linha */
    display: block; /* Garantir que os botões fiquem em linha separada */
}

button {
    background-color: #dda0dd; /* Roxo claro */
    color: #ffffff; /* Branco */
}

button + button {
    margin-top: 5px; /* Diminuir o espaço entre os botões */
}

button:hover {
    background-color: #ffeb3b; /* Amarelo claro */
    color: #ffffff; /* Branco */
}

p#resultado {
    margin-top: 40px; /* Aumentar a margem superior para mover o texto mais para baixo */
    font-size: 18px;
    color: #000000; /* Preto */
}