body {
    background-color: #ffffff; /* Branco */
    color: #dda0dd; /* Roxo claro */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fonte infantil */
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    position: relative;
}

header, footer {
    background-color: #dda0dd; /* Roxo claro */
    color: #ffffff; /* Branco */
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    align-items: center; /* Alinhar ao centro */
    position: relative;
}

.mamadeira {
    width: 300px; /* Diminuir o tamanho da imagem */
    height: 300px; /* Diminuir o tamanho da imagem */
}

.content {
    text-align: left; /* Alinhar o texto à esquerda */
}

h1 {
    color: #ffffff; /* Branco */
    text-shadow: 1px 1px 2px #000000; /* Contorno preto */
}

label {
    display: block;
    margin: 20px 0 10px;
    color: #dda0dd; /* Roxo claro */
    text-shadow: 1px 1px 2px #000000; /* Contorno preto */
    font-size: 20px; /* Aumentar o tamanho do texto */
}

input[type="number"] {
    padding: 10px;
    border: 2px solid #ffeb3b; /* Borda amarela */
    border-radius: 10px;
    width: 200px;
    margin-bottom: 20px;
    background-color: #fffacd; /* Amarelo bem claro, tipo creme */
    color: #000000; /* Preto */
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #dda0dd; /* Roxo claro */
    color: #ffffff; /* Branco */
    text-shadow: 1px 1px 2px #000000; /* Contorno preto */
    font-family: 'Comic Sans MS', cursive, sans-serif;   
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombreamento */
    min-width: 200px; /* Largura mínima para caber o texto */
    white-space: nowrap; /* Impede quebra de linha */
    display: block; /* Garantir que os botões fiquem em linha separada */
}

button + button {
    margin-top: 20px; /* Aumentar o espaço entre os botões */
}

button:hover {
    background-color: #ffeb3b; /* Amarelo claro */
    color: #ffffff; /* Branco */
}

p#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #dda0dd; /* Roxo claro */
    text-shadow: 1px 1px 2px #000000; /* Contorno preto */
}